/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}
.GlobalMenu {
  background-color: #03122b;
  color: #ffffff;
  height: 48px;
}
.GlobalMenuSidebarPane {
  background-color: #03122b;
  position: fixed;
  top: 48px;
  left: 0;
  bottom: 64px; // due to the bottom nav height of 64px
  width: 100%;
  min-width: 100%;
  overflow-y: auto;

  &.expandable {
    max-width: 320px;
    min-width: 320px;
  }

  @media only screen and (min-width: 768px) {
    max-width: 320px;
    min-width: 320px;
    bottom: 0; // when tablet there is no bottom nav so the bottom is set to 0
    overflow-y: hidden;
  }

  @media only screen and (min-width: 1024px) {
    .back-link {
      display: none;
    }
  }

  .link,
  .group {
    height: 48px;
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #a5acbb;
    line-height: 48px;
    &:hover {
      color: #ffffff;
    }
  }
  .link {
    overflow: hidden;
    &__label {
      color: #a5acbb;
      &:hover {
        color: #ffffff;
      }
      width: 100%;
      margin-right: 24px;
    }
  }

  .group {
    display: flex;
    &__label {
      width: 100%;
      padding-right: 24px;
    }
    &__arrow {
      width: 32px;
      height: 48px;
      padding-left: 24px;
      padding-right: 24px;
    }
    overflow: hidden;
  }

  &.GlobalMenuSidebarFirstPane {
    .link {
      &__label {
        margin-left: 48px;
      }
    }
    .group {
      &__label {
        padding-left: 48px;
      }
    }
  }
  &.GlobalMenuSidebarSecondPane,
  &.GlobalMenuSidebarThirdPane {
    .link {
      &__label {
        margin-left: 24px;
      }
    }
    .group {
      &__label {
        padding-left: 24px;
      }
    }
  }
  &.GlobalMenuSidebarSecondPane {
    &.expandable {
      left: 320px;
    }
  }

  &.GlobalMenuSidebarThirdPane {
    &.expandable {
      left: 640px;
    }
  }
}
.GlobalMenuBottomNav {
  @media only screen and (min-width: 768px) {
    display: none;
  }
  background: #03122b;
  height: 64px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  line-height: 64px;
  .link {
  }
}
