/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}
.GlobalMenu {
  background-color: #03122b;
  color: #ffffff;
  height: 48px;
}
.GlobalMenuSidebarFirstPane {
  background-color: #03122b;
  color: #ffffff;
  position: fixed;
  top: 48px;
  left: 0;
  bottom: 0;
  width: 256px;
  max-width: 768px;
  min-width: 256px; /* One third of max-width */

  .link,
  .group {
    height: 48px;
    width: 196px; /* 256px - 60px on left padding */
    display: block;
    color: #ffffff;
    line-height: 48px;
    padding-left: 60px;
    overflow: hidden;
    &:hover {
      background-color: #0a71b4;
    }
  }
}
.GlobalMenuSidebarSecondPane {
  position: fixed;
  top: 48px;
  left: 256px;
  bottom: 0;
  max-width: 256px;
  min-width: 256px; /* One third of max-width */
  overflow: hidden;
  .link,
  .group {
    height: 48px;
    width: 100%;
    display: block;
    color: #ffffff;
    line-height: 48px;
    padding-left: 60px;
    &:hover {
      background-color: #3b8dc3;
    }
  }
}

.GlobalMenuSidebarThirdPane {
  position: fixed;
  top: 48px;
  left: 512px;
  bottom: 0;
  max-width: 256px;
  min-width: 256px; /* One third of max-width */
  overflow: hidden;
  .link,
  .group {
    height: 48px;
    width: 100%;
    display: block;
    color: #ffffff;
    line-height: 48px;
    padding-left: 60px;
    &:hover {
      background-color: #085a90;
    }
  }
}
